@charset "utf-8";

.wrapper {
  display: flex;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* サイドバー --------------------------
--------------------------------------*/

.side-bar {
  width: 200px;
  height: 100vh;
  background-color: #253141;
  text-align: center;
  
}
.side-bar a {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  
}

/* メイン------------------------------
--------------------------------------*/

.content-wrapper {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  padding: 0 50px;
  overflow: auto;
}

.content-title {
  border-bottom: #253141 5px solid;
}

.item {
  /* border: #253141 solid 1px; */
  background-color: #ccc;
  border-radius: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}


.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.sold-out {
  color: red;
}

.button:hover {
  color: darkmagenta;
}